<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" href="../assets/brand/fit-logo-circle.png">
    <title>Create an Account</title>
</head>
<body>
    <div class="logo">
        <img src="../assets/brand/fit-logo-circle.png">
    </div>
    <div class="signup-block">
            <div class="man">
                <img src="../assets/brand/young man sitting in front of laptop.png">
            </div>
            <div class="logo-signup">
                <img src="../assets/brand/fit-logo-circle.png">  
            </div>
            <h2>Create an Account</h2>
            <p>Already have an account? <a href="/login">Login</a></p>
            <div class="error" id="error"></div>
        <form id="signup-form">
            <div class="signup-input">
                <p>Name</p>
                <input type="text" name="name" id="name">
                <p>Email</p>
                <input type="email" name="email" id="email">
                <p>Password</p>
                <input type="password" name="password" id="password">
            </div>
            <div class="bottom-wrapper">
                <button type="submit">Create Account</button>
                <div class="or">
                    <hr>
                    <p>OR</p>
                    <hr>
                </div>
        </form>
                <button id="google">
                    <img src="../assets/brand/google.png">
                    <a href="/auth/google">Sign up with Google</a>
                </button>
            </div>
        </div>
    
    
    <script>
        document.getElementById("signup-form").addEventListener("submit", async(e) => {
            e.preventDefault();
            name = document.getElementById("name").value;
            email = document.getElementById("email").value;
            password = document.getElementById("password").value;
            let errorResp = document.getElementById("error");

            if (!name || !email || !password) {
                errorResp.innerText = "Please fill in all fields"
            }

            try {
                const response = await fetch("/signup", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({name, email, password})
                });

                if (response.ok) {
                    const result = await response.json();
                    if (!result.success) {
                        errorResp.innerText = result.message;
                    }
                    else{
                        window.location.href = result.redirect;
                    }
                }
            }
            catch (e){
                console.log("Error fetching data: " + e)
            }
        })
    </script>
</body>
</html>